<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Flashcard</title>


<th:block th:include="/_header"></th:block>

</head>
<body style="height: 1500px">

	<!-- Include _menu.html -->
	<th:block th:include="/_menu"></th:block>

	<div class="container" style="margin-top: 50px">

		<th:block th:include="/flashcard/_flashcardmenu"></th:block>

		<h1>Detail</h1>
		<th:block th:include="/_successmessage"></th:block>
		<br />
		<br />
		<div class="row">
			<table border="1" class="table">
				<tr>
					<td th:utext="${flashcard.getId()}">...</td>
				</tr>

				<tr>
					<td th:utext="${flashcard.getWordText()}">...</td>
				</tr>

				<tr>
					<td th:utext="${flashcard.getAuthorName()}">...</td>
				</tr>

				<tr>
					<td th:utext="${flashcard.getStatus()}">...</td>
				</tr>


				<tr>
					<td th:utext="${flashcard.getAssetUrl()}">...</td>
				</tr>


			</table>
		</div>

	</div>

	<th:block th:include="/_footer"></th:block>
</body>
</html>