<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Transaction - detail</title>
      
  
      <th:block th:include="/_header"></th:block>
  
   </head>
   <body style="height:1500px">
   
      <!-- Include _menu.html -->
      <th:block th:include="/_menu"></th:block>
   
      <div class="container" style="margin-top:50px">
      
      <th:block th:include="/transaction/_transactionmenu"></th:block>

	      <h1>Detail</h1>
	      
	      <p> You should take the bill'code (<b th:utext="${transaction.getBillcode()}"></b>) as the message when you sign your paycheck at the bank 
	          To account of Cao Dinh Bang: 1234567899, Techcombank.
	      
	      </p>
	      
	      <th:block th:include="/_successmessage"></th:block>
	      <br/><br/>
	      <div class="row">
	         <table border="1" class="table">
	            <tr >
	              <td> ID </td>
	               <td th:utext="${transaction.getId()}">...</td>
	            </tr>
	            
	            <tr >
	               <td> Customer's name </td>
	               <td th:utext="${transaction.getCustomerName()}">...</td>
	            </tr>
	            
	            <tr >
	               <td> Product's name</td>
	               <td th:utext="${transaction.getProductName()}">...</td>
	            </tr>
	            
	             <tr >
	               <td> Bill's code </td>
	               <td th:utext="${transaction.getBillcode()}">...</td>
	            </tr>
	              
	              <tr >
	              <td> Description </td>
	               <td th:utext="${transaction.getDescription()}">...</td>
	            </tr>
	              
	              <tr >
	              <td> Value </td>
	               <td th:utext="${transaction.getTransValue()}">...</td>
	            </tr>
	            <tr >
	              <td> Value By Word</td>
	               <td th:utext="${transaction.getTransValueByWord()}">...</td>
	            </tr>
	              
	              <tr >
	              <td> Status </td>
	               <td th:utext="${transaction.getStatus()}">...</td>
	            </tr>
	              
	              
	            
	         </table>
	      </div>
      
      </div>
      
      <th:block th:include="/_footer"></th:block>
   </body>
</html>