<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />

<title>Transaction edit</title>
<th:block th:include="/_header"></th:block>
</head>
<body style="height: 1500px">

	<!-- Include _menu.html -->
	<th:block th:include="/_menu"></th:block>

	<div class="container" style="margin-top: 50px">
		<th:block th:include="/transaction/_transactionmenu"></th:block>

		<h1>Transaction Form</h1>
		<th:block th:include="/_errormessage"></th:block>
		<form th:action="@{/transaction/edit/{id}(id=${transactionID})}"
			class="form-horizontal" th:object="${transactionForm}" method="POST">

			<div class="form-group">
				<label class="control-label col-sm-2" for="name">Customer :</label>
				<div class="col-sm-10">

					<span th:utext="${transactionForm.getCustomerName()}"></span>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="description">Bill
					code:</label>
				<div class="col-sm-10">

					<span th:utext="${transactionForm.getBillcode()}"></span>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="status">Bill's
					status:</label>
				<div class="col-sm-10">

					<input type="text" class="form-control" id="status"
						placeholder="Status" th:field="*{status}"
						th:value="${transactionForm.getStatus()}" />
				</div>
			</div>


			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-danger">Save</button>
				</div>
			</div>

		</form>

		<br />




	</div>
</body>
</html>