<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Product List</title>
      <th:block th:include="/_header"></th:block>
   </head>
   <body style="height:1500px">
   
      <!-- Include _menu.html -->
       <th:block th:include="/_menu"></th:block>
   
   <div class ="container" style="margin-top:50px">
	       <!-- <th:block th:include="/product/_productmenu"></th:block> -->
	   
	      <h1>Product</h1>
	      <th:block th:include="/_successmessage"></th:block>
	      <br/><br/>
	      <div>
	         
	             <div th:each ="pack : ${packs}"
	             class="col-xs-12 col-sm-6 col-md-4 col-lg-3 panel" 
	             style="width:33%"
	             >
	               <h4 th:utext="${pack.getProduct().getName()}">...</h4>
	               <p th:utext="${pack.getProduct().getDescription()}">...</p>
	               <img th:src="${pack.getProduct().getImageUrl()}"/>
	               <h5 th:utext="${pack.getProduct().getPrice()}">...</h5>
	               <a th:if="${pack.getStatus() == 0}" class="btn btn-info" th:href="@{/product/detail/{id}(id=${pack.getProduct().getId()})}">Buy</a>
	               
	               <h5 th:if="${pack.getStatus() == 1}">Request sent</h5>
	               <h5 th:if="${pack.getStatus() == 2}">OK</h5>
	             </div>  
	             
	      </div>
      </div>
      
      <th:block th:include="/_footer"></th:block>
   </body>
</html>