<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>English language art</title>
      
  
      <th:block th:include="/_header"></th:block>
  
   </head>
   <body style="height:1500px">
   
      <!-- Include _menu.html -->
      <th:block th:include="/_menu"></th:block>
   
      <div class="container" style="margin-top:50px">
      
      <th:block th:include="/ela/_elamenu"></th:block>
      
	      <h1>Detail</h1>
	      <th:block th:include="/_successmessage"></th:block>
	      <br/><br/>
	      <div class="row">
	         <table border="1" class="table">
	            <tr >
	              <td> ID </td>
	               <td th:utext="${englishtest.getId()}">...</td>
	            </tr>
	            
	            <tr >
	               <td> Content </td>
	               <td th:utext="${englishtest.getContent()}">...</td>
	            </tr>
	             <tr >
	               <td> Image url </td>
	               <td th:utext="${englishtest.getImageUrl()}">...</td>
	            </tr>
	              
	              <tr >
	              <td> Question Type </td>
	               <td th:utext="${englishtest.getQuestionType()}">...</td>
	            </tr>
	              
	              
	              <tr >
	              <td> Answers </td>
	               <td th:utext="${englishtest.getAnswers()}">...</td>
	            </tr>
	            
	            <tr >
	              <td> Correct </td>
	               <td th:utext="${englishtest.getCorrectAnswer()}">...</td>
	            </tr>
	            
	              <tr >
	              <td> Category </td>
	               <td th:utext="${englishtest.getCategoryName()}">...</td>
	            </tr>
	            <tr >
	              <td> Author </td>
	               <td th:utext="${englishtest.getAuthorName()}">...</td>
	            </tr>
	            
	             <tr >
	              <td> Status </td>
	               <td th:utext="${englishtest.getStatus()}">...</td>
	            </tr>
	            
	            
	            
	            
	            
	         </table>
	      </div>
      
      </div>
      
      <th:block th:include="/_footer"></th:block>
   </body>
</html>